{% extends "base.html" %}
{% block title %} AddStudent{% endblock title %}
{% block content %}
<style>
    body {
      background-color: #f8f9fa;
    }
    .signup-form {
      max-width: 400px;
      margin: 100px auto;
      background: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
<div class="container">
    <div class="signup-form">
      <h2 class="text-center">Add New Student</h2>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter  name" name="name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter  email" name="email" required>
        </div>
        <div class="form-group">
          <label for="phone">Phone Number</label>
          <input type="text" class="form-control" id="phone" placeholder="Enter  phone number" name="phone" required>
      </div>
        <div class="form-group">
          <label for="password1">Password</label>
          <input type="password" class="form-control" id="password1" placeholder="Enter password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Add Student</button>
      </form>
      {% if student_add %}
      <p class="text-success text-center">{{student_add}}</p>
        {% endif %}
      <p class="text-center mt-3"><a href="{% url "admin_home" %}">Back to home </a></p>
    </div>
  </div>

{% endblock content %}
