{% extends 'base.html' %}
{% block title %}Admin Home{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="{% url 'admin_home' %}"><h1 class="text-center">Student Details</h1></a> 
        <a href="{% url 'add_student' %} " class="btn btn-success">Add Student</a>
    </div>
    <form method="GET" action="">
        <div class="input-group col-lg-3 mb-3">
            <input type="text" class="form-control small-search" placeholder="Search student by name " name="q" value="{{ request.GET.q }}">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">NAME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">PHONE NUMBER</th>
                <th scope="col">PASSWORD</th>
                <th scope="col">EDIT / DELETE</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            <tr>
                <td>{{student.name | title}}</td>
                <td>{{student.email}}</td>
                <td>{{student.phone}}</td>
                <td>{% for char in student.password %}
                    &#8226; <!-- Unicode for a bullet character, you can also use &bull; -->
                {% endfor %}</td>
                <td>
                    <a href="{% url 'edit_student' student.id %}" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a href="{% url 'delete_student' student.id %}" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i> Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if search_query %}
    <a href="{% url 'admin_home' %}" class="btn btn-secondary">Back to All Students</a>
{% endif %}

{% if not search_query %}
    <a href="{% url 'admin_logout' %}" class="btn btn-danger">LOGOUT</a>
{% endif %}
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">

<style>
    .small-search {
        width: 150px; /* Adjust the width as needed */
    }
</style>

{% endblock %}
